<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome</h1>
<form method="POST" action="{% url 'addcategory' %}" enctype="multipart/form-data">
  {% csrf_token %}
<div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Category</h4>
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="exampleInputName1">category name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="catname">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputdes">Description</label>
                        <input type="text" class="form-control" id="exampleInputdes" placeholder="Description" name="catdis">
                      </div>
<!--                      <div class="form-group">-->
<!--                        <label for="exampleInputAge">Age</label>-->
<!--                        <input type="number" class="form-control" id="exampleInputAge" placeholder="Age" name="age">-->
<!--                      </div>-->
<!--                      <div class="form-group">-->
<!--                        <label for="examplePhone">Phone Number</label>-->
<!--                        <input type="Number" class="form-control" id="examplePhone" placeholder="Phone Number" name="phone">-->
<!--                      </div>-->
<!--                      <div class="form-group">-->
<!--                        <label for="exampleInputEmail3">Email address</label>-->
<!--                        <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email" name="email">-->
<!--                      </div>-->
<!--                      <div class="form-group">-->
<!--                        <label for="exampleInputPassword4">Password</label>-->
<!--                        <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password" name>-->
<!--                      </div>-->
<!--                      <div class="form-group">-->
<!--                        <label for="exampleSelectGender">Gender</label>-->
<!--                        <select class="form-control" id="exampleSelectGender" name="gender">-->
<!--                          <option>Male</option>-->
<!--                          <option>Female</option>-->
<!--                        </select>-->
<!--                      </div>-->
                      <div class="form-group">
                        <label for="fileupload">File upload</label>
                        <input type="file" class="form-control" id="fileupload" placeholder="file" name="catimg">
                      </div>

                          </span>
<!--                      <div class="form-group">-->
<!--                        <label for="exampleInputCity1">City</label>-->
<!--                        <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">-->
<!--                      </div>-->
<!--                      <div class="form-group">-->
<!--                        <label for="exampleTextarea1">Textarea</label>-->
<!--                        <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>-->
<!--                      </div>-->
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    </form>
                  </div>
                </div>
              </div>

</form>
</body>
</html>
{% endblock %}