<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome</h1>
<form method="POST" action="{% url 'saveproduct' %}" enctype="multipart/form-data">
  {% csrf_token %}

<div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Add product</h4>
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="exampleInputName1">Product Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Product Name" name="name">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputquantity">Product Qunatity</label>
                        <input type="number" class="form-control" id="exampleInputquantity" placeholder="Product quantity" name="quantity">
                      </div>
                      <div class="form-group">
                        <label for="exampleProkg">Product price</label>
                        <input type="Number" class="form-control" id="exampleProkg" placeholder="Product Quantity in Kg" name="price">
                      </div>
<!--                      <div class="form-group">-->
<!--                        <label for="exampleInputEmail3">Email address</label>-->
<!--                        <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email" name="email">-->
<!--                      </div>-->
<!--                      <div class="form-group">-->
<!--                        <label for="exampleInputPassword4">Password</label>-->
<!--                        <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password" name>-->
<!--                      </div>-->
<!--                      <div class="form-group">-->
<!--                        <label for="exampleSelectGender">Gender</label>-->
<!--                        <select class="form-control" id="exampleSelectGender" name="gender">-->
<!--                          <option>Male</option>-->
<!--                          <option>Female</option>-->
<!--                        </select>-->
<!--                      </div>-->
                      <div class="form-group">
                        <label for="fileuploadimg">File upload</label>
                        <input type="file" class="form-control" id="fileuploadimg" placeholder="file" name="image">
                      </div>
                        <div class="form-group">
                            <label>Category</label>
                        </div>
                      <select name="cat" class="form-control" >
                        {% for d in data %}
                        <option>{{ d.catname }}</option>
                          {% endfor %}
                      </select>

                          </span>
<!--                      <div class="form-group">-->
<!--                        <label for="exampleInputCity1">City</label>-->
<!--                        <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">-->
<!--                      </div>-->
<!--                      <div class="form-group">-->
<!--                        <label for="exampleTextarea1">Textarea</label>-->
<!--                        <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>-->
<!--                      </div>-->
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    </form>
                  </div>
                </div>
              </div>

</form>
</body>
</html>
{% endblock %}