<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Products</h4>
                    <p class="card-description">Add items</p>
                    <div class="table-responsive">
                      <table class="table table-dark">
                        <thead>
                          <tr>

                            <th>Product name</th>
                            <th>Product price</th>
                              <th>Product quantity in kg</th>
                            <th>Product Image</th>
                              <th>Category</th>
                          </tr>
                        </thead>
                       <tbody>
                       {% for d in data %}
                       <tr>
                           <td>{{ d.name }}</td>
                           <td>{{ d.price }}</td>
                           <td>{{ d.quantity }}</td>

                           <td>
                              <img src="{{ d.image.url }}" width="300px" height="200px">
                           </td>
                           <td>{{ d.category }}</td>
                           <td>
                               <form action="{% url 'editproduct' dataid=d.id %}">
                              <button type="submit" class="btn btn-primary mr-2">Edit</button>
                                   </form>

                           </td>
                           <td>
                               <form action="{% url 'deleteproduct' dataid=d.id %}">
                                   <button type="submit" class="btn btn-primary mr-2">Delete</button>
                               </form>
                           </td>

                       </tr>
                       {% endfor %}

                       </tbody>

                      </table>
                    </div>
                  </div>
                </div>
</body>
</html>
{% endblock %}